/* Fondo general */
body {
    background: #f2f4f8;
    font-family: Arial, sans-serif;
}

.contenedor {
    min-height: 100vh;
    width: 100vw;
    background: linear-gradient(135deg, #e5ecff, #f4f6f8);
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Tarjeta */
.tarjeta {
    width: 100%;
    max-width: 400px;
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}


/* Formulario */
.formulario {
    display: flex;
    flex-direction: column;
    gap: 14px;
}

.formulario p {
    color: #333;
    font-weight: bold;
    margin-bottom: 5px;
}

.titulo {
    color: #222;
    text-align: center;
    margin-bottom: 20px;
    font-size: 22px;
}

.input {
    width: 100%;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 15px;
}


.input:focus {
    outline: none;
    border-color: #2563eb;
}

.radio-group label {
    color: #333;
    margin-right: 15px;
}

.boton {
    width: 100%;
    padding: 12px;
    background: #4f46e5;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.boton:hover {
    background: #4338ca;
}

.logo {
    width: 90px;
    display: block;
    margin: 0 auto 10px;
}